body {
  background: lightgray;
}
.weather-project {
  width: 900px;
  margin: 50px auto;
  border: 5px solid rgb(89, 112, 136);
  border-radius: 20px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
form {
  position: relative;
  left: 50px;
}
h1 {
  font-family: "Exo 2", sans-serif;
  color: rgb(89, 112, 136);
  font-weight: bolder;
  position: relative;
  left: 50px;
  font-size: 75px;
}
h2 {
  font-size: 60px;
  position: relative;
  left: 50px;
}
h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 60px;
  color: rgb(89, 112, 136);
  position: relative;
  left: 50px;
}
.units {
  font-size: 20px;
  position: relative;
  bottom: 25px;
  right: 10px;
}
a {
  text-decoration: none;
}
h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  color: rgb(89, 112, 136);
  position: relative;
  left: 55px;
}
.symbol {
  text-align: center;
}
.Day {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: rgb(89, 112, 136);
}
.Temp {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: rgb(89, 112, 136);
}
p {
  text-align: center;
  font-family: monospace;
  position: relative;
  top: -40px;
}
